<!DOCTYPE html>
{% extends 'navbar.html' %}
{% load static %}
{% block content %}



<div class="frame">
    <div class="uFit-info">
        <h1>Bringing communities together</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu
            eget.
            Et integer facilisi eget.</p>

        <button class="login-btn">Get started</button>
    </div>

    <div class="img-container"><img class="responsive-image" src="{% static 'images/cat.jpg' %}" />
    </div>
</div>


{% endblock content %}