<!DOCTYPE html>
{% extends 'navbar.html' %}

{% block content %}

<main>

    <div class="frame">
        <div class="uFit-info">
            <h1>Bringing communities together</h1>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu
                eget.
                Et integer facilisi eget.</p>

            <button class="login-btn">Get started</button>
        </div>

        <!-- <div class="img-container"><img
                src="https://interactive-examples.mdn.mozilla.net/media/cc0-images/grapefruit-slice-332-332.jpg" alt="">
        </div> -->
    </div>
</main>

{% endblock content %}