
{% block content %}
{% if posts %}
                {% for post in posts %}
                <div class="post">
                   <a href="{% url 'profilepage' post.host.id %}"><h2>@{{ post.host.username }}</h2 ></a>
                   <h3>{{post.title}}</h3>
                    <p>{{ post.body }}</p>
                    {% if request.user == post.host %}
                    <a href="{% url 'update-post' post.id %}">Edit</a>
                    {% endif %}
                </div>
                {% endfor %}
            {% else %}
                <p>No posts found matching your search.</p>
            {% endif %}

            {% endblock content %}