<!DOCTYPE html>
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'styles/styles.css' %}">

<body class="welcome-body">
    <div class="frame">
        <video class="video-container" src="{% static 'videos/treadmill.mp4' %}" muted loop autoplay></video>

        <div class="uFit-info">
            <h2>Bringing Communities Together</h2>
            <p>Our platform connects college students with personal trainers, peers, and wellness 
                organizations on campus, offering tools to enhance their fitness journey and overall college experience
            </p>
            <a class="login-btn" href="{% url 'registrationpage' %}">Get Started</a>
        </div>
    </div>

    {% include 'footer.html' %}
    {% endblock content %}