<!DOCTYPE html>
{% extends 'navbar.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'styles/welcome.css' %}">

<div class="frame">
    <video class="video-container" src="{% static 'videos/treadmill.mp4' %}" muted loop autoplay></video>

    <div class="uFit-info">
        <h2>Bringing Communities Together</h2>
        <p>Our product allows college students to become clients of personal trainers in their area, as well as connect
            and interact with fellow students, and wellness and exercise organizations at their college, as well as
            providing additional wellness features, to further enhance their college experience and prepare them for the
            road ahead.
        </p>
        <a class="login-btn" href="{% url 'registrationpage' %}">Get Started</a>
    </div>
</div>

{% include 'footer.html' %}
{% endblock content %}